html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  transition: all 0.5s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  transform: rotate(-14deg);
  left: 360px;
  top: 250px;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  left: 440px;
  top: 275px;
}

.polaroid:last-child {
  transform: rotate(20deg);
  left: 540px;
  top: 250px;
}

.polaroid:hover {
transform: rotate(0deg);

}
